<h2>So ye want to edit the file numered <%= post.id %>, do ye?</h2>
<form>
  Title:<br>
  <input type="text" name="firstname" value="<%= post.title %>"><br>
  Body:<br>
  <input type="text" name="lastname" value="<%= post.body %>"><br>
  <input type="submit" value="Submit">
</form>
