<h2>So ye want to edit the game '<%= game.title %>', do ye?</h2>
<% if(user.id) { %>
<form>
  Title:<br>
  <input type="text" name="firstname" value="<%= game.title %>"><br>
  Body:<br>
  <input type="text" name="lastname" value="<%= game.body %>"><br>
  <input type="submit" value="Submit">
</form>
<% } else { %>
  <p>You must be <a href="/login">logged in</a> to edit a game!</p>
<% } %>
