<h1>Welcome to water vapour</h1>
<% for (var game in games) { %>
<h1><%= game.title %></h1>
<p><%= game.body %></p>
<p><%= game.tags %></p>
<% } %>
<img src="<% game.image %>" alt="image of the game">

