<form class="qa-login" action="/login" method="post">
  Email:<br>
  <input type="text" name="title"><br>
  Password:<br>
  <input type="password" name="tags"><br>
  <input type="submit" value="Login">
</form>
