<h2>So ye want to edit the game numered <%= game.id %>, do ye?</h2>
<form>
  Title:<br>
  <input type="text" name="firstname" value="<%= game.title %>"><br>
  Body:<br>
  <input type="text" name="lastname" value="<%= game.body %>"><br>
  <input type="submit" value="Submit">
</form>
