<h1>Welcome to water vapour's users</h1>
<% for (var i = 0; i < users.length; i++) { %>
<h1><a href="/<%= users[i].id %>"><%= users[i].name %></a></h1>
<img src="<% users[i].image %>" alt="image of the user">
<p><%= users[i].creationDate %></p>
<p><%= users[i].ownedGames %></p>
<% } %>
