<h1>Welcome to water vapour's Users</h1>
<% for (var i = 0; i < Users.length; i++) { %>
<h1><a href="Users/<%= Users[i].id %>"><%= Users[i].name %></a></h1>
<img src="<% Users[i].image %>" alt="image of the User">
<p><%= Users[i].creationDate %></p>
<p><%= Users[i].ownedGames %></p>
<% } %>
