<h2>So ye want to create a new user, do ya?</h2>
<form action="/users" method="post">
  Name:<br>
  <input type="text" name="name"><br>
  Image:<br>
  <input type="text" name="image"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
