<h1><%= user.name %></h1>
<img src="<% user.image %>" alt="image of the game">
<p><%= user.body %></p>
<ul>
  <% for(var i = 0; i < user.ownedGames.length; ++i ) {%>
  <li><%= user.ownedGames[i] %></li>
  <% } %>
</ul>
<a href="/users/<%= user.id + 1 %>/edit">edit</a>
