<h1><%= theuser.name %></h1>
<img src="<% theuser.image %>" alt="image of the game">
<ul>
  <% for(var i = 0; i < theuser.ownedGames.length; ++i ) {%>
  <li><%= theuser.ownedGames[i] %></li>
  <% } %>
</ul>
<a href="/users/<%= theuser.id %>/edit">edit</a>
