<h2>So ye want to create a new file, do ye?</h2>
<form action="/" method="post">
  Title:<br>
  <input type="text" name="title"><br>
  Body:<br>
  <input type="text" name="body"><br>
  <input type="submit" value="Submit">
</form>
